{{!
 id: Unique identifier for the dialog box.
 serviceName: Name of the service
 inboundLinks: List of process that talks to this service.
   .pid: PID of the process
   .icon: URL to the icon of the process
 hasInboundLinks: boolean that tells if there are any inboundLinks
--}}
<div class="dialog" id="{{id}}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Service: {{serviceName}}</h3>
        </div>

        <table class="table table-stripped table-condensed">
            <tr>
                <td>PID</td>
                <td><a data="{{pid}}" class="procLink" href="#">{{pid}}</a></td>
            </tr>
            <tr>
                <td>Interface class</td>
                <td><a data="{{iface}}" class="ifaceLink" href="#">{{iface}}</a></td>
            </tr>
            <tr>
                <td>Binder Node ID</td>
                <td>{{nodeid}}</td>
            </tr>
        </table>
    </div>

    {{#if hasInboundLinks}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Inbound links</h4>
            </div>
            <div class="panel-body">
                {{#each inboundLinksGroups}}
                    <div class="row">
                        {{#each this}}
                            <div class="col-md-5">
                                <a href="#" class="procLink" data="{{this}}">{{this.name}} ({{this.pid}})</a>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>
